@charset "utf-8";

/*
    Author: Christopher Dickerson
    Date:7/19/20

    File: styles.css

    General Styles
*/

/* HTML and Body Styles */
html {
    background: url(../media/Background.png) repeat;
    height: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

body {
    background: whitesmoke;   
    box-shadow: rgb(51, 51, 51) 5px 0px 15px,
                rgb(51, 51, 51) -5px 0px 15px;
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
 }

/* Header Styles */
header img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 15em;
}

.space{
    display: box;
    height: 1.75em;
}

@media only screen and (max-width: 640px){
    /* Navigation List Styles */

    body > header > nav > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-justify-content: center;
        justify-content: center;
    }

    body > header > nav > ul li {
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
    }
    
    body > header > nav > ul > li {
        font-size: 1.5em; 
        line-height: 2.3em; 
        height: 2.3em;
        padding: 0px 10px;
        background-color: gray;
    }
    
    body > header > nav > ul > li > a {
        color: whitesmoke;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 641px){
    /* Header Styles */
    #box{
        display: box;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 0.4em;
        background-color: black;
    }

    /* Navigation List Styles */

    body > header > nav {
        -webkit-flex: 1 1 441px;
        flex: 1 1 441px;
    }
    
    body > header > nav > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: center;
        justify-content: center;
    }
    
    body > header > nav > ul li {
        -webkit-flex: 0 1 auto;
        flex: 0 1 auto;
    }
    
    body > header > nav > ul > li {
        font-size: 1.5em; 
        line-height: 2.3em; 
        height: 2.3em;
        padding: 0px 10px;
    }
    
    body > header > nav > ul > li > a {
        color: black;
        display: block;
        width: 100%;
    }
}

    /* Footer Styles */

footer{
    text-align: center;
    background: #9291ff;
}

